.Titulo{ 
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    margin: auto;
    font-family: sans-serif, ;
}
.Centrar{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    background-image: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-johannes-plenio-1118873.jpg&fm=jpg&h=920&w=1480&fit=crop);
}

.Centrar2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    margin: auto;
}

.ButtonGrid{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #333;
    margin: auto;
    border-radius: 50px;
}

.Buttons{
    display: flex;
    flex-direction: row;
    padding: 14px 20px;
    margin: 10px;
    color: white;
    background-color: dimgray;
    border-radius: 50px;
    text-align: center;
}

.Input{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    margin: 10px;
    padding: 14px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: larger;
}

.Inputs{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Result{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #333;
    margin:auto;
    margin-top: 25px;
    padding: 14px 20px;
    border-radius: 50px;
    color: white;
}

.Title{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    margin:auto;
    padding: 0px 50px;
    border-radius: 50px;
    color: white;
}

.TEC1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /*background-color: #333;*/
    margin:auto;
    margin-top: 20px;
    border-radius: 50px;
    color: white;
}
.TEC2{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /*background-color: #333;*/
    margin:auto;
    padding: 1px  7px 1px 7px;
    margin-top: 1px;
    border-radius: 50px;
    color: white;
}